{sub_dirs, ["rel"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{plugins, [rebar_lock_deps_plugin]}.
{deps, [
    {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git"}},
    {cowboy, ".*",  {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.3"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.4"}}}
       ]}.
